.addTaskContainer {
  width: 800px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 15px 5px #666;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.addTaskButtons {
  display: flex;
  justify-content: space-between;
}

.taskFieldsContainer {
  flex: 5;
}

.ui.button.saveTaskButton {
  background-color: #0f3c5d;
  color: #fff;
}
