.todoListContainer {
  width: 800px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 15px 5px #666;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.todoListItems {
  min-height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #555;
  overflow: auto;
}
.taskContainer {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskDescriptionContainer {
  display: flex;
  align-items: flex-start;
  flex: 5;
}

.taskDescription {
  padding: 0 20px;
}

.markComplete {
  text-decoration: line-through;
}

.iconsContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  a, i.icon {
	color: #083c5d;
  }
}
